.cmd 
{
    display: flex;
    flex-direction: column;
    margin: 1.375rem 3.25rem 1.563rem 2.813rem;
    width: auto;
    border-radius: 30px;
    overflow: hidden;
    height: 100%;
    
    .cmd-top 
    {
        display: flex;
        background-image: linear-gradient(to top, #3E3D39, #595359);
        text-align: center;
        flex-direction: column;
        padding-left: 0.875rem;
        .cmd-top-btn
        {
            display: flex;
            text-align: center;
            p
            {
                margin-right: auto; 
                text-align: center;
                flex-grow: 1; 
            }
            button
            {
                border-radius: 90px;
                background-color: #D44B2D;
                margin-right: 0.697rem;
                min-height: 1.2rem;
                min-width: 1.2rem;
            }
        }
        .cmd-nav 
        {
            display: flex;
            gap: 1.813rem;
        }
    }

    .cmd-btm 
    {
        background-color: #2D0A22;
        height: 100%;
        overflow-y: scroll;
        color: #C2E0D9;
        padding-left: 0.625rem;
        font-size: 1.25rem;
        line-height: calc(1.75 / 1.125);
        input 
        {
            outline: none;
            background: transparent;
            border: none;
            margin-left: 0.625rem;
            font-size: 1.25rem;
        }
        #resp
        {
            // animation:
        }
    }
}

