.navig
{
    display: flex;
    min-height: 5vh;
    align-items: center;
    gap: 5.5rem;
    padding-top: 1.375rem;
    padding-bottom: 1.375rem;
    padding-left: 6.375rem;
    font-size: 20px;
    background: linear-gradient(to right, #CA5C5E, #BC295D);
}